# custom_plugin_XXXXX.cfg
# plugin_id: XXXXXX
# type: detector
# description: Custom Plugin by Victor Obando
# URL: www.alienvault.com

[DEFAULT]
plugin_id=[PLUGIN ID]

[config]
type=detector
enable=yes
source=log
location=[LOG PATH]
create_file=false
process=
start=no
stop=no
startup=
shutdown=

[translation]
#Complete this section with the translation values
[NAME]=[PLUGIN SID VALUE]

[000 EVENT]
event_type=event
plugin_id=[PLUGIN ID]
#USE THIS IF USING TRANSLATION TABLE OR ENTER THE PLUGIN SID
plugin_sid={translate($plugin_sid)} 
plugin_sid=[PLUGIN SID]
regexp=[REGEXP HERE]
date={normalize_date($date)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
protocol={$protocol}
src_port={$src_port}
dst_port={$dst_port}
username={$username}
userdata1={$userdata1}
userdata2={$userdata2}
userdata3={$userdata3}
userdata4={$userdata4}
userdata5={$userdata5}
userdata6={$userdata6}

