# modified by Victor O. on 4/9/2014 to enable support for NG type Firewalls. 

[DEFAULT]
plugin_id=9502


[config]
type=detector
enable=yes

source=log
location=/var/log/barracuda.log
create_file=false
process=rsyslog
start=no 
stop=no 
startup=
shutdown=


[001 - Barracuda Firewall - FWD Event]
event_type=event
regexp=(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+).*?type=(?P<type>FWD)\|proto=(?P<protocol>.*?)\|.*?srcIP=(?P<src_ip>.*?)\|srcPort=(?P<src_port>.*?)\|.*?dstIP=(?P<dst_ip>.*?)\|dstPort=(?P<dst_port>.*?)\|(?P<extra_data>.*)
plugin_sid=2780
device={$device}
src_ip={$src_ip}
src_port={$src_port}
dsp_ip={$dstp_ip}
dsp_port={$dst_port}
protocol={$protocol}
userdata1={$type}
userdata2={$extra_data}



[002 - Barracuda Firewall - Generic]
event_type=event
regexp=(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+).*?type=(?P<type>.*?)\|proto=(?P<protocol>.*?)\|.*?srcIP=(?P<src_ip>.*?)\|srcPort=(?P<src_port>.*?)\|.*?dstIP=(?P<dst_ip>.*?)\|dstPort=(?P<dst_port>.*?)\|(?P<extra_data>.*)
plugin_sid=2781
device={$device}
src_ip={$src_ip}
src_port={$src_port}
dsp_ip={$dstp_ip}
dsp_port={$dst_port}
protocol={$protocol}
userdata1={$type}
userdata2={$extra_data}


[003 - barracuda_recv]
#Apr  4 12:57:52 194.179.68.101 inbound/pass1[17109]: 201-254-37-121.speedy.com.ar[201.254.37.121] 1333558643-17109-74156-16 1333558672 1333558672 RECV patchess@remax-georgia.com cmacos@mutua-mad.es 2 8 -
event_type=event
regexp="(?P<syslogdate>\SYSLOG_DATE)\s(?P<ip_dst>\IPV4)\s\S+\[\d+\]:\s(\S+\[)?(?P<ip_src>\IPV4)\]?\s(?P<codigo>\S+)\s(?P<date_ini>\d+)\s(?P<date_end>\d+)\sRECV\s(?P<sender>\S+)\s(?P<recipent>\S+)\s(?P<action>\d+)\s(?P<reason>\d+)"
src_ip={$ip_src}
dst_ip={$ip_dst}
date={normalize_date($syslogdate)}
plugin_sid=1{$action}{$reason}
userdata1={$codigo}
userdata2={$date_ini}
userdata3={$date_end}
userdata4={$sender}
userdata5={$recipent}


[004 - barracuda_scan]
#Apr  4 08:23:38 194.179.68.101 scan[1386]: UNKNOWN[124.125.53.110] 1333545854-5a7c00430000-zZooWk 1333545863 1333545863 SCAN - continuumacrylic@vignette.com csr@mutua-mad.es - 2 60 *Spam.Pharmacy-206695128 SZ:6710 SUBJ:The greatest shags of all
event_type=event
regexp="(?P<syslogdate>\SYSLOG_DATE)\s(?P<ip_dst>\IPV4)\s\S+\[\d+\]:\s(\S+\[)?(?P<ip_src>\IPV4)\]?\s(?P<codigo>\S+)\s(?P<date_ini>\d+)\s(?P<date_end>\d+)\sSCAN\s+\S+\s+(?P<sender>\S+)\s+(?P<recipent>\S+)\s+(?P<score>\S+)\s+(?P<action>\d+)\s+(?P<reason>\d+)"
src_ip={$ip_src}
dst_ip={$ip_dst}
date={normalize_date($syslogdate)}
plugin_sid=2{$action}{$reason}
userdata1={$codigo}
userdata2={$date_ini}
userdata3={$date_end}
userdata4={$sender}
userdata5={$recipent}
userdata6={$score}


[005 - barracuda_send]
#Apr  4 08:22:59 194.179.68.101 outbound/smtp[2861]: 127.0.0.1 1333545808-2551004b0000-eEP0Le 0 0 SEND - 1 49D411E7B5EF 250 Message accepted for delivery
event_type=event
regexp="(?P<syslogdate>\SYSLOG_DATE)\s(?P<ip_dst>\IPV4)\s\S+\[\d+\]:\s(\S+\[)?(?P<ip_src>\IPV4)\]?\s(?P<codigo>\S+)\s(?P<date_ini>\d+)\s(?P<date_end>\d+)\sSEND\s\S+\s(?P<action>\d+)\s(?P<queue>\S+)\s(?P<response>\d+)"
plugin_sid={$action}
src_ip={$ip_src}
dst_ip={$ip_dst}
date={normalize_date($syslogdate)}
userdata1={$codigo}
userdata2={$date_ini}
userdata3={$date_end}
userdata7={$queue}
userdata8={$response}

[006 - barracuda_generic]
#regexp="(?P<syslogdate>\SYSLOG_DATE)\s(?P<ip_dst>\IPV4)\s\S+\[\d+\]:\s(\S+\[)?(?P<ip_src>\IPV4)\]?"
event_type=event
regexp=(?P<syslogdate>\SYSLOG_DATE)\s(?P<ip_dst>\IPV4)\s\S+\[\d+\]:
plugin_sid=2000000
dst_ip={$ip_dst}
date={normalize_date($syslogdate)}


